* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* animation */

@keyframes rotateicon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* fonts */

.title-16 {
    font-size: 16px;
}

.title-30 {
    font-size: 30px;
}

.title-20 {
    font-size: 20px;
}

.title-50 {
    font-size: 50px;
}

.title-70 {
    font-size: 70px;
}

.white {
    color: white;
}

.muted {
    font-size: 16px;
    color: gray;
}

.profit-text {
    font-size: 16px;
    color: #52FFE0;
}

/* header */

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-links nav ul li {
    display: inline-block;
}

.header-links nav ul li a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.header-links nav ul li a:hover {
    text-decoration: underline;
}

.connect-value-btn {
    width: 180px;
    height: 50px;
    background: #52FFE0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .8s;
}

.connect-value-btn a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.connect-value-btn:hover {
    background: #2a8574;
    cursor: pointer;
}

/* main page */

.main-page {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.main-page-left {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-page-right {
    width: 800px;
}

.explore-btn {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .8s;
    background: #52FFE0;
    border-radius: 50px;
}

.explore-btn a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.explore-btn:hover {
    background: #2a8574;
    cursor: pointer;
}

.main-page-left-grid-container {
    display: grid;
    grid-template-areas: 
    'explore creators curly'
    'artworks auction artist';
}

.explore-btn {
    grid-area: explore;
}

.creators-img {
    grid-area: creators;
}

.curly-arrow {
    grid-area: curly;
}

.artworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: artworks;
}

.auction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: auction;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: artist;
}

.main-page-img-container {
    width: 675px;
    height: 658px;
    background: url(./images/main-page.png) no-repeat;
    background-size: cover;

}

.main-page-right-content {
    width: 800px;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-icon {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 615px;
    top: 556px;
}

.play-icon:hover {
    cursor: pointer;
    animation-name: rotateicon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.popular-categories {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.popular-row1 {
    padding-bottom: 40px;
}

.popular-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.categories-card {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 360px;
    background: #2C2D31;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition-duration: 1s;
}

.categories-card img {
    width: 190px;
    height: 225px;
}

.categories-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* top collection */

.top-collection {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1D1E22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-row1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-month-range {
    width: 290px;
    height: 70px;
    background: #2C2D31;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-days {
    width: 150px;
    height: 60px;
    background: #1D1E22;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-days {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-row2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.top-user-container {
    width: 400px;
    height: 120px;
    background: #2C2D31;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

table tr td {
    width: 460px;
}

.collection-row3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.see-all-collection-btn {
    width: 180px;
    height: 50px;
    background: #52FFE0;
    border-radius: 50px;
    transition-duration: .8s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.see-all-collection-btn a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.see-all-collection-btn:hover {
    cursor: pointer;
    background-color: #2a8574;
}

/* tranding nfts */

.tranding-nfts {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tranding-row1 {

}

.tranding-row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.tranding-item {
    width: 320px;
    height: 550px;
    background: #1D1E22;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.tranding-container2 {
    width: 290px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2C2D31;
    border-radius: 20px;
    margin-bottom: 15px;
}

.tranding-container1 {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

/* insights */

.insights {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    background: #1D1E22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insights-row1 {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.insights-row2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insights-item {
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.insights-item img {
    width: 400px;
    height: 300px;
}

.technology-btn {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 36px;
}

.technology-btn a {
    text-decoration: none;
    color: black;
}

.insights-item-row1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 50px;
}

.read-more-btn {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .8s;
}

.read-more-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.read-more-btn:hover {
    transform: scale(1.3);
}